<!doctype html>
<html>
<head>
    <title>{{ env('WEBSITE_NAME') }} | {{ title }}</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:site_name" content="{{ env('WEBSITE_NAME') }}" />
    <meta property="og:title" content="{{ title }}" />
    <meta property="og:url" content="{{ app.request.uri }}" />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="/dist/icon.png" />
    <link rel="stylesheet" href="/dist/bulma.min.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" />
    <style>
        .panel-block {
            display: block;
        }
        .hero.is-info .tabs.is-boxed a:hover,
        .hero.is-info .tabs.is-toggle a:hover {
            background-color: rgba(255, 255, 255, 0.1);
        }
        .title a {
            color: inherit;
        }
        .modal-content .panel .panel-block {
            background-color: white;
        }
        .modal-content .panel .panel-heading {
            border-top-left-radius:0;
            border-top-right-radius:0;
        }
    </style>
</head>
<body>
<section class="hero is-info is-medium" style="background-repeat: no-repeat;background-size: cover;background: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(/dist/header.jpg);background-position: center;">
    <div class="hero-body">
        <div class="container has-text-centered">
            <h1 class="title is-2">{{ env('WEBSITE_NAME') }}</h1>
            <h2 class="subtitle">continuation of Yives Mirror</h2>
            <h2 class="subtitle">Minecraft Server Software File Mirror</h2>
        </div>
    </div>
    <div class="hero-foot">
        <div class="container">
            <div class="columns">
                <div class="column is-6">
                    <nav class="tabs is-boxed">
                        <ul>
                            <li><a href="/">Home</a></li>
                            <li><a data-modal-id="#downloads-modal" class="open-modal">Downloads</a></li>
                            <li><a href="/apis">APIs</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="column is-6">
                    <nav class="tabs is-boxed is-right">
                        <ul>
                            <li><a href="https://discord.gg/KFEXyhH">Discord</a></li>
                            <li><a href="https://twitter.com/ItsYive">Twitter</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section">
    <div class="container">
        <div class="columns is-multiline">
            {% block content %}
            {% endblock %}
        </div>
    </div>
</section>
<footer class="footer">
    <div class="container">
        <div class="content has-text-centered">
            <p><strong>{{ env('WEBSITE_NAME') }}</strong> is not affliated with Mojang nor any of the software hosted here.</p>
        </div>
    </div>
</footer>
<div class="modal" id="downloads-modal">
    <div class="modal-background close-modal" data-modal-id="#downloads-modal"></div>
    <div class="modal-content">
        <nav class="panel">
            {% for category,applications in sortedApplications %}
                {% include 'parts/application.html.twig' with {'applications': applications, 'category': category} only %}
            {% endfor %}
            <div class="panel-block">
                <p><span class="tag is-info">External</span> - Outgoing link to an external download location.</p>
                <p><span class="tag is-danger">Abandoned</span> - Project was abandoned by its developers.</p>
                <p><span class="tag is-success"><i class="fas fa-star"></i></span> - Recommended.</p>
            </div>
        </nav>
    </div>
</div>
<script src="/dist/jquery.min.js"></script>
<script>
    function toggleModalClasses(event) {
        var modalId = event.currentTarget.dataset.modalId;
        var modal = $(modalId);
        modal.toggleClass('is-active');
        $('html').toggleClass('is-clipped');
    };

    $('.open-modal').click(toggleModalClasses);
    $('.close-modal').click(toggleModalClasses);

    $("input:checkbox").click(function () {
        var showAll = true;
        $('tr').not('.first').hide();
        $('input[type=checkbox]').each(function () {
            if ($(this)[0].checked) {
                showAll = false;
                var status = $(this).attr('rel');
                var value = $(this).val();
                $('td.' + status + '[rel="' + value + '"]').parent('tr').show();
            }
        });
        if(showAll){
            $('tr').show();
        }
    });
    $(document).ready(function(){
        $("#search").on("keyup", function() {
            var value = $(this).val().toLowerCase();
            $("tbody tr").filter(function() {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
    });
</script>
</body>
</html>