<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
<head>
    <title>{{ env('WEBSITE_NAME')|trans }} | {{ title|trans }}</title>
    {% block meta %}
        <meta charset="utf-8">
        <meta name="referrer" content="no-referrer">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta property="og:site_name" content="{{ env('WEBSITE_NAME')|trans }}"/>
        <meta property="og:title" content="{{ title|trans }}"/>
        <meta property="og:url" content="{{ app.request.uri }}"/>
        <meta property="og:type" content="website"/>
        <meta property="og:image" content="{{ asset('dist/icon.png') }}">
        {% block additional_meta %}
            <meta property="og:description" content="Downloads for server software to run Minecraft servers." />
            <meta name="description" content="Downloads for server software to run Minecraft servers.">
            <meta name="keywords" content="mcmirror, minecraft server download">
        {% endblock %}
    {% endblock %}

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css" integrity="sha256-2pUeJf+y0ltRPSbKOeJh09ipQFYxUdct5nTY6GAXswA=" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.css" integrity="sha256-gVCm5mRCmW9kVgsSjQ7/5TLtXqvfCoxhdsjE6O1QLm8=" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ asset('dist/style.css') }}"/>
</head>
<body>

<section class="hero is-primary" style="background-repeat: no-repeat;background-size: cover;background: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url({{ asset('/dist/header.jpg') }});background-position: center;">
    <div class="hero-body">
        <div class="container has-text-centered">
            <h1 class="title">{{ env('WEBSITE_NAME')|trans }}</h1>
            <h2 class="subtitle">
                <span>{% trans %}The future of Yives Mirror{% endtrans %}</span>
                <br />
                <span>{% trans %}A Minecraft server software File Mirror{% endtrans %}</span>
            </h2>
        </div>
    </div>
    <div class="hero-foot">
        <nav class="navbar" role="navigation" aria-label="main navigation">
            <div id="main-navbar" class="container navbar-menu">
                <div class="navbar-start">
                    <a class="navbar-item {% if app.request.attributes.get('_route') == 'index' %}is-active{% endif %}"
                           href="{{ url('index') }}">{% trans %}Home{% endtrans %}</a>
                    <a data-modal-id="#downloads-modal" class="navbar-item open-modal">{% trans %}Downloads{% endtrans %}</a>
                    <a class="navbar-item {% if app.request.attributes.get('_route') == 'api_index' %}is-active{% endif %}"
                           href="{{ url('api_index') }}">{% trans %}APIs{% endtrans %}</a>
                </div>
                <div class="navbar-end">
                    <div class="navbar-item has-dropdown is-hoverable">
                        <a class="navbar-link">
                            <span>{{ availableLanguages[app.request.session.get('lang')] }}</span>
                        </a>
                        <div class="navbar-dropdown animated fadeIn is-size-6">
                            {% for languageKey,languageName in availableLanguages %}
                                {% if app.request.session.get('lang') != languageKey %}
                                    <a href="{{ path(app.request.attributes.get('_route'),  app.request.attributes.get('_route_params')|merge({'lang': languageKey})) }}" class="navbar-item">
                                        {{ languageName }}
                                    </a>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                    <a class="navbar-item" href="{{ env('DISCORD_LINK') }}">
                        <span class="icon">
                            <i class="fab fa-discord"></i>
                        </span>
                        <span>{% trans %}Discord{% endtrans %}</span>
                    </a>
                    <a class="navbar-item" href="{{ env('GITHUB_LINK') }}">
                        <span class="icon">
                            <i class="fab fa-github"></i>
                        </span>
                        <span>{% trans %}GitHub{% endtrans %}</span>
                    </a>
                </div>
            </div>
        </nav>
    </div>
</section>
<section class="section">
    <div class="container">
        <div class="columns is-multiline">
            {% block content %}
            {% endblock %}
        </div>
    </div>
</section>
<footer class="footer">
    <div class="container">
        <div class="content has-text-centered has-text-weight-semibold">
            <p>{% trans with {'%websiteName%': env('WEBSITE_NAME')|trans } %}%websiteName% is not affliated with Mojang nor any of the software hosted here.{% endtrans %}</p>
        </div>
    </div>
</footer>
<div class="modal animated fadeIn" id="downloads-modal">
    <div class="modal-background close-modal" data-modal-id="#downloads-modal"></div>
    <div class="modal-content">
        <nav class="panel">
            {% for category,applications in sortedApplications %}
                {% include 'parts/application.html.twig' with {'applications': applications, 'category': category} only %}
            {% endfor %}
            <div class="panel-block">
                <p><span class="tag is-success"><i class="fas fa-star"></i></span>
                    - {% trans %}Recommended{% endtrans %}</p>
                <p><span class="tag is-info">{% trans %}External{% endtrans %}</span>
                    - {% trans %}Outgoing link to an external download location.{% endtrans %}</p>
                <p><span class="tag is-danger">{% trans %}Abandoned{% endtrans %}</span>
                    - {% trans %}Project was abandoned by its developers.{% endtrans %}</p>
            </div>
        </nav>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<script src="{{ asset('/dist/script.js') }}"></script>
</body>
</html>
