{% extends 'base.html.twig' %}

{% block additional_meta %}
    <meta property="og:description" content="Downloads for {{ application.name }}."/>
    <meta name="description" content="Downloads for {{ application.name }}.">
    <meta name="keywords" content="{{ application.name }} download, {{ application.name }}">
{% endblock %}

{% block content %}
    <div class="column is-3">
        <nav class="panel">
            <p class="panel-heading">{% trans %}Filters{% endtrans %}</p>
            <div class="panel-block">
                <p class="control has-icons-left">
                    <input class="input is-small" type="text" placeholder="Search" id="search">
                    <span class="icon is-small is-left">
          <i class="fas fa-search"></i>
        </span>
                </p>
            </div>
            {% for version in versions %}
                <label class="panel-block">
                    <input type="checkbox" rel="mcversion" value="{{ version }}">{{ version }}
                </label>
            {% endfor %}
        </nav>
    </div>
    <div class="column is-9">
        <div class="card">
            <header class="card-header">
                <nav class="level card-header-title">
                    <!-- Left side -->
                    <div class="level-left">
                        <div class="level-item">
                            <p class="subtitle is-5">
                                <strong>{% trans with {'%applicationName%': application.name} %}Archive of %applicationName% Builds{% endtrans %}</strong>
                            </p>
                        </div>
                    </div>

                    <!-- Right side -->
                    <div class="level-right">
                        {% if officialLinks|length > 0 %}
                            <p class="level-item"><strong>{% trans %}Official Links{% endtrans %}:</strong></p>
                            {% for name,link in officialLinks %}
                                <p class="level-item">
                                    <a href="{{ link }}" target="_blank">{{ name }}</a>
                                </p>
                            {% endfor %}
                        {% endif %}
                    </div>
                </nav>
            </header>
            <div class="card-content" style="padding:0;margin-top: 3px;">
                <div class="content has-text-centered">
                    <table class="table">
                        <thead>
                        <tr class="first">
                            <th>{% trans %}Name{% endtrans %}</th>
                            <th>{% trans %}Version{% endtrans %}</th>
                            <th>{% trans %}Size{% endtrans %}</th>
                            <th>{% trans %}Date{% endtrans %}</th>
                            <th>{% trans %}Count{% endtrans %}</th>
                            <th>{% trans %}Direct Link{% endtrans %}</th>
                            <th>{% trans %}Download{% endtrans %}</th>
                        </tr>
                        </thead>
                        {% for build in builds %}
                            <tr>
                                <td>{{ build.fileName }}</td>
                                <td class="mcversion"
                                    rel="{{ build.minecraftVersion }}">{{ build.minecraftVersion }}</td>
                                <td>{{ build.humanSize }}</td>
                                <td>{{ build.humanDate }}</td>
                                <td>{{ build.downloadCounter }}</td>
                                <td>
                                    <button class="button is-info"
                                       data-clipboard-text="{{ url('files', {'applicationName': application.name, 'fileName': build.fileName}) }}">
                                        {% trans %}Copy Link{% endtrans %}
                                    </button>
                                </td>
                                <td>
                                    <a class="button is-info"
                                       href="{{ url('grab', {'applicationName': application.name, 'fileName': build.fileName}) }}">{% trans %}Download{% endtrans %}</a>
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                    {% if builds|length == 0 %}
                        <br>
                        <p class="subtitle">There are no Builds here. They are maybe in <a href="https://archive.mcmirror.io/">another Castle</a></p>
                        <br>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}